# sem_daemon
service sem_daemon /system/bin/sem_daemon
    class core
    user root
    group root nfc
    oneshot
    disabled
    seclabel u:r:recovery:s0

on early-boot
    mkdir /efs/sec_efs/esek 0775 system system
    start sem_daemon

